[Unit]
Description=Service discover server for Zextras
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/docs.html
After=network.target

[Service]
ExecStart=/usr/bin/service-discoverd server
Restart=on-failure

[Install]
WantedBy=default.target