[Unit]
Description=Service discover agent for Zextras
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/docs.html
After=network.target

[Service]
ExecStart=/usr/bin/service-discoverd agent
Restart=on-failure
LimitNOFILE=65534

[Install]
WantedBy=default.target